  <ion-header>
      <ion-navbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>Lists</ion-title>
      </ion-navbar>
    </ion-header>

    <ion-content padding>
      <ion-list *ngIf="lists">
        <ion-item *ngFor="let list of lists" (click)="toList(list._id)">
            <h2>{{ list.title }}</h2>
            <p>{{ list.note }}</p>
          </ion-item>
      </ion-list>

      <ion-fab right bottom>
        <button ion-fab color="secondary" (click)="toListCreate()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>

    </ion-content>
