<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>List</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <ion-list *ngIf="lists">
    <ion-item-sliding *ngFor="let list of lists" #slidingItem>
        <button ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>{{ list.title }}</h2>
        <p>{{ list.note }}</p>
      </button>
      <ion-item-options>
          <button ion-button color="primary" icon-start (click)="toListEdit(list._id)">
            <ion-icon name="create"></ion-icon>Edit</button>
          <button ion-button color="danger" icon-start (click)="toListDelete(list._id)">
            <ion-icon name="trash"></ion-icon>Delete</button>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab color="secondary" (click)="toListCreate()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>

  </ion-content>
